<div fxLayoutAlign="center none">
  <div id="container" fxLayout="row layout-wrap" fxLayoutAlign="space-evenly">
    <div fxFlex="30" fxLayout="row">
      <app-notes-user fxFlex="100"></app-notes-user>
    </div>
    <div fxFlex="60" fxLayout="row layout-wrap" fxLayoutAlign="space-evenly">
      <app-notes-public fxFlex="45"></app-notes-public>
      <app-notes-shared fxFlex="45"></app-notes-shared>
      <div fxFlex="100" id="divider"></div>
      <div fxFlex="93">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>