.content {
  min-width: 400px;
  max-width: 400px;
}

button {
  width: -webkit-fill-available;
  align-content: center;
}

form {
  margin-bottom: 15px;
}

#footer {
  margin-top: 15px;
}

#error {
  margin-bottom: 15px;
  color: red;
}

mat-form-field {
  width: -webkit-fill-available;
  align-content: center;
}